<div class="container-fluid" style="background-color:rgba(242,113,44,1);background-image:url(img/footer.png);background-repeat: repeat-x;">
	<br />
	<div class="row no-gutters align-items-center">
		<div class="col-md-1">
			<img src="img/phone_footer.png" class="float-right" alt="Tel&eacute;fono"> 
		</div>
		<div class="col-md-2">
			<span style="font-family:museo-w01-700,serif;font-size: 18px;color:#FFF;"> &nbsp;(01)496-1362 <br /> &nbsp;997-129399</span>
		</div>
		<div class="col-md-1">
			<img src="img/email_footer.png" class=" float-right" alt="Email"> 
		</div>
		<div class="col-md-3">
			<span  style="font-family:museo-w01-700,serif;font-size: 18px;">
				<a class="align-middle" style="color:#FFF;" href="mailto:cesar.ccasa@estudioccasa.com">&nbsp;cesar.ccasa@estudioccasa.com</a>
			</span>
		</div>
		<div class="col-md-1">
			<img src="img/home_footer.png" class="float-right align-self-center align-middle" alt="Home"> 
		</div>
		<div class="col-md-4">
			<span style="font-family:museo-w01-700,serif;font-size: 18px;color:#FFF;" class=""> &nbsp;Av. Las Orquideas N° 290 Villa Jardín - V.M.T.</span>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="https://www.facebook.com/Estudio-Contable-Ccasa-SAC-1761980270717516/" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
			&nbsp;&nbsp;

			<a href="https://twitter.com/" target="_blank"><img src="img/twitter.png" alt="Twitter"></a>
		</div>
	</div>
	<br />
</div>