<div class="container-fluid">
	<div class="row" style="background-color:rgba(255,255,255,1);background-image: url(https://static.parastorage.com/services/skins/2.1229.72/images/wysiwyg/core/themes/base/ironpatern.png)">
		<div class="col-md-4"><img class="box" width="100%" src="img/logo.png" /></div>
		<div class="col-md-8" style="margin-bottom: 15px;">
			<div class="row">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg navbar-light " style="color:#000;font-family:Nimbus-Sans-TW01Con,sans-serif; ">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav" style="margin:0 auto;">
								<li class="nav-item active">
									<a class="nav-link menu_item" href="#!">INICIO</a>
								</li>
								&nbsp;
								<li class="nav-item dropdown">
									<a class="nav-link active menu_item dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" id="navbarNosotros" aria-haspopup="true" aria-expanded="false">
										NOSOTROS
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarNosotros">
										<a class="dropdown-item menu_subitem" href="#!/nosotros">Nosotros</a>
										<a class="dropdown-item menu_subitem" href="#!/propuesta-empresarial">Propuesta Empresarial</a>
										<a class="dropdown-item menu_subitem" href="#!/hoja-de-vida">Hoja de Vida</a>
									</div>
								</li>
								&nbsp;
								<li class="nav-item active dropdown">
									<a class="nav-link menu_item dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" id="navbarServicio" aria-haspopup="true" aria-expanded="false">
										SERVICIOS
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarServicio">
										<a class="dropdown-item menu_subitem" href="#!/contable-tributario">Contable-Tributario</a>
										<a class="dropdown-item menu_subitem" href="#!/auditorias">Auditorias</a>
										<a class="dropdown-item menu_subitem" href="#!/derecho-civil-laboral">Derecho Civil - Laboral</a>
									</div>
								</li>
								&nbsp;
								<li class="nav-item active">
									<a class="nav-link menu_item" href="#!/clientes">CLIENTES</a>
								</li>
								&nbsp;
								<li class="nav-item active">
									<a class="nav-link menu_item" href="#!/noticias">NOTICIAS</a>
								</li>
								&nbsp;
								<li class="nav-item active">
									<a class="nav-link menu_item" href="#!/enlaces">ENLACES</a>
								</li>
								&nbsp;
								<li class="nav-item active">
									<a class="nav-link menu_item" href="#!/contacto">CONTACTO</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3 text-right"><img class="align-middle" src="img/phone.png" alt="Tel&eacute;fono"><strong><span class="align-middle" style="font-family:Open Sans Condensed,sans-serif;font-size: 18px"> &nbsp;(01)496-1362</span></strong></div>
				<div class="col-md-3 text-right"><img src="img/whatsapp.png" class="align-middle" alt="whatsapp"><strong><span class="align-middle" style="font-family:Open Sans Condensed,sans-serif;font-size: 18px"> &nbsp;997-129399</span></strong></div>
				<div class="col-md-5 text-center"><img class="align-middle" src="img/email.png" alt=" email"><strong><span class="align-middle" style="font-family:Open Sans Condensed,sans-serif;font-size: 18px"> &nbsp;cesar.ccasa@estudioccasa.com</span></strong></div>
			</div>
		</div>
	</div>	
</div>
