<div class="jumbotron">
	<div class="row">
		<div class="col-md-12">
			<h2 style="font-family: avenir-lt-w01_85-heavy1475544, sans-serif;font-size:33px">{{selected.title}}</h2>
			<h6 style="font-family: avenir-lt-w01_85-heavy1475544, sans-serif;font-size:13px">{{selected.month}} {{selected.day}} , {{selected.year}}</h6>
			<p class="text-justified" style="font-family: museo-w01-700,serif;font-size: 20px">{{selected.content_a}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<img ng-src={{selected.image}} class="img-fluid mx-auto d-block" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p style="font-family: museo-w01-700,serif;font-size: 20px" ng-bind-html="content_b"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<div class="fb-share-button" data-href="https://midori-makawa.wixsite.com/#!/notice/detail/id/{{selected.id}}" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmidori-makawa.wixsite.com%2Fcesar%2Fsingle-post%2F2015%2F11%2F27%2FInvest-Now-Earn-Later&amp;src=sdkpreparse">Compartir</a></div>
		</div>
		<div class="col-md-1">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://midori-makawa.wixsite.com/#!/notice/detail/id/{{selected.id}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
		<div class="col-md-1">
			<linkedin></linkedin>
		</div>
	</div>
</div>
